<h2 class="mb-2">Додати товар</h2>
<form [formGroup]="form" (ngSubmit)="submit()" (keydown.enter)="submit()">
  <div class="mb-3">
    <label class="form-label">Назва</label>
    <input type="text" class="form-control w-50" [ngClass]="{'is-invalid': itemName.invalid && (itemName.touched || itemName.dirty)}" formControlName="itemName">
    <span *ngIf="itemName.errors?.required" class="invalid-feedback">Пусте поле</span>
    <span *ngIf="itemName.errors?.minlength" class="invalid-feedback">Мінімум 3 символи</span>
  </div>
  <div class="mb-3">
    <label class="form-label">Ціна</label>
    <input type="text" class="form-control w-50" [ngClass]="{'is-invalid': itemPrice.invalid && (itemPrice.touched || itemPrice.dirty)}" formControlName="itemPrice">
    <span *ngIf="itemPrice.errors?.required" class="invalid-feedback">Пусте поле</span>
    <span *ngIf="itemPrice.errors?.minlength" class="invalid-feedback">Мінімум 3 символи</span>
  </div>
  <div class="mb-3">
    <label class="form-label">Зображення</label>
    <input type="file" (change)="handleFileInput($event)" class="form-control w-50" [ngClass]="{'is-invalid': itemImage.invalid && (itemImage.touched || itemImage.dirty)}" formControlName="itemImage">
    <span *ngIf="itemImage.errors?.required" class="invalid-feedback">Пусте поле</span>
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn-navi me-0" appRipple>НАДІСЛАТИ</button>
  </div>
</form>