.modal-msg {
  color: white;
  background-color: #13b407;
  margin: 0;
  text-shadow: 1px 1px 2px #7a7a7a;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 40px;
}
      
.modal-danger {
  background-color: #d91435;
}
